*.bin filter=lfs diff=lfs merge=lfs -text
nginxx filter=lfs diff=lfs merge=lfs -text
*.x filter=lfs diff=lfs merge=lfs -text
*.linux filter=lfs diff=lfs merge=lfs -text
*.zerotier-one filter=lfs diff=lfs merge=lfs -text
